.request-stats {
  background-color: #fff;
  padding: 90px 0;
  &-title {
    font-weight: 500;
  }
}

.list-section {
  @media only screen and (max-width: 640px) {
    display: flex;
    justify-content: center;
   }

}


.lists-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  @media only screen and (max-width: 640px) {
    width: 400px;
   }
}

.list {
  color: rgb(114, 111, 111);
  font-size: 15px;
  width: 80%;
  column-count: 3;
  column-width: 200px;
  @media only screen and (max-width: 640px) {
    width: 200px;
    width: 100%;
   }
}

.list li {
  margin-bottom: 7px;
}
