.header {
  width: 100%;
  background-color: #FD3C3C;
  color: white;
  &-content {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    @media only screen and (max-width: 640px) {
     font-size: 15px;
    }
    @media screen and (device-aspect-ratio: 40/71) {
     font-size: 13px;
    }
  }
  &-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      margin-right: 10px;
      @media only screen and (max-width: 640px) {
        font-size: 15px;
       }
       @media screen and (device-aspect-ratio: 40/71) {
        font-size: 13px;
       }
       &-anchor {
         color: white;
           &:hover {
            color: black;
           }
       }
    }
    &-svg {
      z-index: 1000;
      fill: white;
      display: flex;
      justify-content: flex-start;
      &-use {
        padding: 0;
      }
    }
  }
}
