$color_main_dark: #FD3C3C;
$color_main_light: #D6C0BE;
$color_main_ui: #F37D92;
$color_text_dark: #4D463F;
$color_background_light_gray: rgb(240, 236, 236);

.header {
  width: 100%;
  background-color: $color_main_dark;
  color: white;
  &-content {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    @media screen and (device-aspect-ratio: 40/71) {
      font-size: 13px;
    }
  }
  &-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-content: center;
    &-item {
      text-align: center;
      margin-right: 15px;
      @media only screen and (max-width: 800px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 640px) {
        font-size: 13px;
        margin-right: 0;
        width: 90px;
      }
      @media screen and (device-aspect-ratio: 40/71) {
        font-size: 12px;
        width: 80px;
      }
      &-anchor {
        color:  $color_background_light_gray;
        &:hover {
          color: $color_text_dark;
        }
      }
    }
  }
  &-svg {
    width: 30%;
    height: 100%;
    @media only screen and (max-width: 640px) {
      width: 45%;
    }
  }
}
