.footer {
  width: 100%;
  background-color: #4d463f;
  &-content-left {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &-svg {
    height: 100%;
    width: 80%;
    @media only screen and (max-width: 640px) {
      height: 30%;
      width: 100%;
     }
  }
  &-text {
    color: white;
  }
  &-text-copyright {
    color: white;
    font-size: 12px;
  }
}


