.footer {
  width: 100%;
  background-color: #4d463f;
  font-size: 12px;
  color: white;
  @media only screen and (max-width: 640px) {
    font-size: 8px;
   }
   @media screen and (device-aspect-ratio: 40/71) {
    font-size: 7px;
  }
  &-center {
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 55px;
    &-container {
      display: flex;
      justify-content: center;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    // justify-content: center;
    &-container {
      display: flex;
      justify-content: center;
    }
  }
  &-svg {
    height: 100%;
    width: 80%;
    @media only screen and (max-width: 640px) {
      height: 30%;
      width: 100%;
     }
  }
  &-container {
    height: 250px;
  }
}

.address {
  margin: 0;
  &-container {
    margin-bottom: 10px;
  }
}

