.top-buffer {
  margin-top: 20px;
  &-form {
    margin-top: 10px;
  }
}

.form {
  &-container {
    margin: 5px 0;
  }
}

.field-error {
  color: #FD3C3C;
  font-size: 12px;
}

.input-label {
  font-weight: 400;

   @media screen and (device-aspect-ratio: 40/71) {
    font-size: 15px;
  }
}
